.base-title {
  display: inline-block;
  font-family: var(--secondary-font);
  font-size: clamp(24px, 3.2vw, 48px);
  font-weight: 600;
  margin: 0;
}

.base-text {
  display: inline-block;
  margin: 0;
  font-size: clamp(16px, 2.2vw, 18px);
  font-weight: 500;

  &--lg {
    font-size: clamp(16px, 2.2vw, 24px);
  }

  &--muted {
    color: var(--muted);
  }

  &--lined {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 20px;
    font-family: var(--secondary-font);
    font-size: clamp(16px, 3vw, 24px);
    color: var(--primary);

    @container base-section (max-width: 534px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &::after {
      position: relative;
      top: 2px;
      content: '';
      background-color: var(--primary);
      width: clamp(80px, 15vw, 180px);
      height: 2px;

      @container base-section (max-width: 534px) {
        margin-top: 0;
      }
    }
  }
}

.content-block {

}
