.contacts {
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--container-offset);
    padding-bottom: 50px;

    @include container-down ('base-section', 960px) {
      padding: 0;
    }

    #y-maps {
      position: absolute;
      top: 0;
      left: 0;
      filter: grayscale(1);

      @include container-down ('base-section', 960px) {
        position: relative;
        height: 40vw;
        min-height: 320px;
      }
    }
  }

  &__content {
    position: relative;
    @extend %flex-column;
    gap: 24px;
    padding: clamp(24px, 3vw, 50px);
    width: 30vw;
    min-width: 320px;
    height: 100%;
    min-height: 400px;
    background-color: var(--white);
    z-index: 11;

    @include container-down ('base-section', 960px) {
      width: 100%;
      min-width: initial;
      padding: 0;
      min-height: initial;
      padding-bottom: clamp(24px, 3vw, 50px);

      &-title {
        display: none;
      }
    }

    &-field {
      position: relative;
      @extend %flex-column;
      gap: 6px;
      // padding-left: 50px;
      // svg {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   fill: var(--light);
      //   width: 40px;
      //   height: 40px;
      // }

      & a {
        @extend %main-hover;
      }

      .base-text {
        color: var(--dark);
        font-weight: 700;
        margin-bottom: 6px;

        & ~ * {
          font-weight: 500;
          color: var(--primary);
        }
      }
    }
  }
}

#y-maps {
  width: 100%;
  height: 100%;

  .ymaps-icon-content-layout {
    &-inner {
      display: inline-block;
      width: fit-content;
      font-size: 12px;
      line-height: 1;
      font-weight: 500;
      white-space: nowrap;
      padding: 8px 12px;
      box-shadow: 0 4px 10px rgb(100 94 112 / 30%);
      border-radius: 6px;
      color: var(--site-color);
      background-color: var(--white);
      text-align: start;

      @include container-down('main', $mobile-width) {
        display: none;
      }
    }
  }

  .zoom-btns {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100px;

    @include container-down ('base-section', 480px) {
      display: none;
    }

    button {
      @extend %btn-reset;
      @extend %flex-center;

      width: 40px;
      height: 40px;
      margin: 0 5px;
      box-shadow: 0 4px 10px rgb(100 94 112 / 30%);
      border-radius: 6px;
      background-color: var(--white);
      background-repeat: no-repeat;
      background-position: center;

      &.zoom-btn-in {
        background-image: url('../assets/img/icon-zoom-in.svg');
      }

      &.zoom-btn-out {
        background-image: url('../assets/img/icon-zoom-out.svg');
      }

      &:active {
        background-color: var(--accent);
      }
    }
  }
}
