block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['./news-detail-tpl']

include ../../pug/layouts/main-layout

main
  block content
    include ../../pug/sections/news/news-detail/news-detail-type-1

