extends ../../layouts/base-section/base-section

block variables
  - _cls = 'licenses'
  - _id = ''


block content
  include ../../components/title-block/title-block
  include ../../components/btn-row-block/btn-row-block

  +title-block({
    overtext: 'Лицензии и сертификаты',
    title: 'Лицензии и сертификаты'
  })
