
include ../../components/_ui/social/social

header.main-header
  .container.main-header__container
    include ../../components/_ui/main-logo/main-logo
    include ../../content/top-multilevel-menu


    include ../../components/_ui/nav/top-multilevel-menu/top-multilevel-menu
    +social([
      {
        link: "#",
        icon: 'social-tg',
        label: 'Telegram'
      },
      {
        link: "#",
        icon: 'social-whatsapp',
        label: 'Whatsapp'
      }
    ])

    a(href="#").main-header__phone +7 (999) 999-99-99

    include ../../components/_ui/burger/burger
