extends ../../../layouts/base-section/base-section

block variables
  - _cls = ''
  - _id = ''


block content
  include ../../../components/title-block/title-block
  include ../../../components/catalog-section-list/catalog-section-list

  +title-block({
    overtext: 'Практика',
    title: 'Наши кейсы'
  })

  +catalog-section-list('cases',[1,2,3,4,5,6])
