-
  const topMenuContent = [
    {
      title: 'Услуги',
      inner: [
        {
          title: 'Уголовное право',
          items: [
            {
              title: 'Адвокат по взяткам'
            },
            {
              title: 'Адвокат по наркотикам'
            },
            {
              title: 'Адвокат по разбою'
            },
            {
              title: 'Адвокат по изнасилованию'
            },
            {
              title: 'Адвокат по грабежу'
            },
            {
              title: 'Адвокат по убийству'
            },
            {
              title: 'Адвокат по мошенничеству'
            },
          ]
        },
        {
          title: 'Гражданское право',
          items: [
            {
              title: 'Возмещение ущерба при ДТП'
            },
            {
              title: 'Возврат долга по расписке'
            },
            {
              title: 'Защита прав добросовестного приобретателя'
            },
            {
              title: 'Истребование имущества из чужого незаконного владения приобретателя'
            },
            {
              title: 'Признание договоров недействительными и возврат имущества законным владельцам'
            },
            {
              title: 'Юридическая защита прав потребителей в Москве'
            },
            {
              title: 'Защита чести, достоинства и деловой репутации'
            },
            {
              title: 'Взыскание ущерба, причиненного имуществу либо жизни или здоровью'
            },
            {
              title: 'Признание безвестно отсутствующим и объявление умершим'
            },
            {
              title: 'Признание недееспособным'
            },
            {
              title: 'Признание права собственности на самовольную постройку'
            },
            {
              title: 'Возмещение морального и материального ущерба после ДТП'
            },
            {
              title: 'Составление гражданско-правовых договоров'
            },
            {
              title: 'Договор подряда'
            },
            {
              title: 'Расторжение договора в одностороннем порядке'
            },
            {
              title: 'Расторжение договора по соглашению cторон'
            },
            {
              title: 'Расторжение договора купли-продажи'
            },
            {
              title: 'Расторжение договора аренды'
            },
            {
              title: 'Расторжение договора'
            },
            {
              title: 'Договор аренды нежилого помещения'
            },
            {
              title: 'Договор об оказании услуг'
            },
          ]
        },
        {
          title: 'Семейное право',
          items: [
            {
              title: 'Адвокат по правам ребенка'
            },
            {
              title: 'Адвокат по усыновлению'
            },
            {
              title: 'Запрет на выезд ребенка'
            },
            {
              title: 'Установление отцовства'
            },
            {
              title: 'Адвокат по алиментам на супруга'
            },
            {
              title: 'Признание брака недействительным'
            },
            {
              title: 'Адвокат по бракоразводным процессам'
            },
            {
              title: 'Раздел имущества'
            }
          ]
        },
        {
          title: 'Налоговое право',
          subitems: [
            {
              title: 'Оптимизация и аудит',
              items: [
                {
                  title: 'Выявление и минимизация имеющихся налоговых рисков'
                },
                {
                  title: 'Оптимизация бизнеса с целью уменьшения налоговой нагрузки'
                },
                {
                  title: 'Консультирование и подготовка правовых заключений'
                },
                {
                  title: 'Введение мер, снижающих риск субсидиарной ответственности'
                },
                {
                  title: 'Разработка договоров и внутренних документов'
                }
              ]
            },
            {
              title: 'Защита при проверках',
              items: [
                {
                  title: 'Участие юристов по налоговым делам в проверочных мероприятиях со стороны клиента'
                },
                {
                  title: 'Изучение ситуации и подготовка ответов на запросы налоговых органов'
                },
                {
                  title: 'Консультирование налоговым юристом по возникающим вопросам при проверках'
                },
                {
                  title: 'Выявление и обжалование нарушений должностных лиц'
                },
                {
                  title: 'Подготовка и подача возражений на акт'
                }
              ]
            },
            {
              title: 'Обжалование актов',
              items: [
                {
                  title: 'Административное обжалование решений налоговых органов'
                },
                {
                  title: 'Оспаривание постановлений налоговых органов в арбитражном суде'
                },
                {
                  title: 'Снижение ответственности и минимизация налоговых санкций'
                },
                {
                  title: 'Взыскание убытков, причиненных незаконными действиями'
                },
                {
                  title: 'Обжалование решений в апелляционной и кассационной инстанций'
                }
              ]
            }
          ]
        },
        {
          title: 'Банкротство',
        },
        {
          title: 'Правовое сопровождение инвестиционных проектов',
        },
        {
          title: 'IT-проекты',
          items: [
            {
              title: 'Разработка правовой структуры проекта (Due dilligence)'
            },
            {
              title: 'Разработка договоров для оформления отношений с разработчиками/контрагентами'
            },
            {
              title: 'Разработка правовой позиции и оформление режима служебных произведений, в целях предупреждения рисков возникновения споров на результаты интеллектуальной деятельности'
            },
            {
              title: 'Разработка необходимых оферт и пользовательских соглашений'
            },
            {
              title: 'Установление режима конфиденциальности информации'
            },
            {
              title: 'Регистрация прав на результаты интеллектуальной деятельности'
            }
          ]
        }
      ]
    },
    {
      title: 'Практика'
    },
    {
      title: 'Команда'
    },
    {
      title: 'СМИ'
    },
    {
      title: 'Цены'
    },
    {
      title: 'Контакты'
    },
  ]
