.contacts-row
  .contacts-row__item
    svg(width='40' height='40' role='img' aria-hidden='true' focusable='false')
      use(xlink:href='./__spritemap#sprite-icon-phone-2')
    span.base-text.base-text--muted Мобильный номер
    a(href="tel:+79250000000").base-text +7 925 502-30-48
  .contacts-row__item
    svg(width='40' height='40' role='img' aria-hidden='true' focusable='false')
      use(xlink:href='./__spritemap#sprite-icon-phone-3')
    span.base-text.base-text--muted Многоканальный номер
    a(href="tel:+79250000000").base-text +7 925 502-30-48
  .contacts-row__item
    svg(width='40' height='40' role='img' aria-hidden='true' focusable='false')
      use(xlink:href='./__spritemap#sprite-icon-mail-2')
    span.base-text.base-text--muted E-mail
    a(href="mailto:popov@kniazev.ru").base-text popov@kniazev.ru
