include ../../../components/btn-row-block/btn-row-block
include ../../../components/title-block/title-block

section.base-section.hero
  .container
    .hero__content
      +title-block({
        overtext: 'Коллегия адвокатов',
        title: 'Добро пожаловать в коллегию адвокатов “ЮСТИКОМ”',
        titleTag: 'h1'
      })
      p.base-text.base-text--lg Когда важна каждая деталь.

      +btn-row([
        {
          type: 'button',
          text: 'Заказать звонок',
          trigger: 'consult-modal'
        },
        {
          type: 'button',
          text: 'Получить консультацию',
          cls: 'main-btn--outlined',
          trigger: 'consult-modal'
        }
      ])
