extends ../../../layouts/base-section/base-section

block variables
  - _cls = 'cases'
  - _id = ''


block content
  include ../../../components/title-block/title-block
  include ../../../components/_ui/main-btn/main-link
  include ../../../components/_ui/cards/case-card/case-lg-card

  +title-block({
    overtext: 'Успешная практика',
    title: 'Наши кейсы'
  })

  .base-section__content
    +case-lg-card({
      title: 'Вместо установки коронок клиент получил длительный спор со стоматологической клиникой',
      img: {
        path: 'case-mock-1'
      },
      сase: {
        number: '№ 2-155/18',
        subject: 'Медицинское частное учреждение «Отраслевой клинико-диагностический центр ПАО «Газпром» оказывал клиенту услуги по изготовлению, установке коронок и мостов металлокерамических и безметалловых (виниры). Услуги были оказаны с нарушением сроков, к качеству оказанных услуг было также множество вопросов.',
        result: 'С учреждения в пользу клиента были взысканы: неустойка за нарушение сроков оказания услуги, убытки, компенсация морального вреда, судебные расходов, расходы за фактическую потерю времени, судебный штраф.'
      }
    })

    +case-lg-card({
      title: 'Вместо установки коронок клиент получил длительный спор со стоматологической клиникой',
      img: {
        path: 'case-mock-2'
      },
      сase: {
        number: '№ 2-155/18',
        subject: 'Медицинское частное учреждение «Отраслевой клинико-диагностический центр ПАО «Газпром» оказывал клиенту услуги по изготовлению.',
        result: 'С учреждения в пользу клиента были взысканы: неустойка за нарушение сроков оказания услуги, убытки, компенсация морального вреда, судебные расходов.'
      }
    })

    +main-link({
      href: '#',
      cls: 'main-btn--outlined',
      text: 'Смотреть больше'
    })
