include ../../detail-link/detail-link
include ../../../author-block/author-block

mixin news-card(data)
  .news-card
    img(src=`../assets/img/${data.img.path}.png` alt= data.title width="600" height="400")

    span.base-text.base-text--lg.news-card__title!= data.title
    span.base-text.news-card__text!= data.text

    +detail-link({
      text: 'Читать далее'
    })

    +author-block({
      avatar: data.author.avatar,
      name: data.author.name,
      date: data.author.date,
      readtime: data.author.readtime
    })
