extends ../../../layouts/base-section/base-section

block variables
  - _cls = 'news-detail'
  - _id = ''


block content
  include ../../../components/title-block/title-block
  include ../../../components/catalog-section-list/catalog-section-list
  include ../../../components/_ui/sliders/main-slider/main-slider

  .news-detail__header.news-detail__header--slider-view
    .news-detail__header-title
      +title-block({
        overtext: 'Новости',
        title: 'Обязанности работодателя по выплате заработной платы и предоставлению материальной помощи'
      })
      span.base-text.base-text--muted 11.02.2025
    .news-detail__header-gallery
      +main-slider(
        [
          `<img src="./assets/img/case-mock-1.png" alt="Галерея" width="1440" height="480">`,
          `<img src="./assets/img/news-wide-mock-img.png" alt="Галерея" width="1440" height="480">`
        ]
      )

  .content-block
    p Трудовой кодекс Российской Федерации не обязывает работодателей выплачивать заработную плату раньше установленного в трудовом договоре срока, даже если возникают форс-мажорные обстоятельства.
    p По словам специалистов, небольшие предприятия с численностью до 100 сотрудников могут предоставлять материальную помощь по устной просьбе работника в день обращения. В таких организациях процесс может быть менее формализованным, и работодатели, как правило, более гибко подходят к запросам своих сотрудников. В крупных компаниях ситуация обстоит иначе: здесь каждая просьба рассматривается индивидуально в соответствии с установленными внутренними регламентами. Эти регламенты, как правило, четко определяют лимиты на выплаты, основания для их предоставления и необходимые документы, которые должен представить работник.
    p Работник имеет право обратиться с просьбой о материальной поддержке, однако предоставление такой помощи остается на усмотрение работодателя. Как правило, компании предлагают материальную помощь в ряде случаев: при рождении ребенка, утрате близкого родственника, необходимости в дорогостоящем лечении или возникновении внезапных финансовых трудностей. Кроме того, помощь может быть оказана и бывшим сотрудникам, а также членам их семей, что также следует учитывать. <a href="#">Ссылка на ресурс.</a>


    ul.checked-list
      li Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu quis fusce augue enim. Quis at habitant diam at. Suscipit tristique risus, at donec. In turpis vel et quam imperdiet
      li Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis
      li Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu quis fusce augue enim. Quis at habitant diam at. Suscipit tristique risus, at donec. In turpis vel et quam imperdiet

    blockquote
      strong Цитата
      span “Работник имеет право обратиться с просьбой о материальной поддержке, однако предоставление такой помощи остается на усмотрение работодателя. Как правило, компании предлагают материальную помощь в ряде случаев: при рождении ребенка, утрате близкого родственника, необходимости в дорогостоящем лечении или возникновении внезапных финансовых трудностей. Кроме того, помощь может быть оказана и бывшим сотрудникам, а также членам их семей, что также следует учитывать.”
      p text P

    p По словам специалистов, небольшие предприятия с численностью до 100 сотрудников могут предоставлять материальную помощь по устной просьбе работника в день обращения. В таких организациях процесс может быть менее формализованным, и работодатели, как правило, более гибко подходят к запросам своих сотрудников. В крупных компаниях ситуация обстоит иначе: здесь каждая просьба рассматривается индивидуально в соответствии с установленными внутренними регламентами. Эти регламенты, как правило, четко определяют лимиты на выплаты, основания для их предоставления и необходимые документы, которые должен представить работник.
    strong Трудовой кодекс Российской Федерации не обязывает работодателей выплачивать заработную плату раньше установленного в трудовом договоре срока, даже если возникают форс-мажорные обстоятельства.
    p По словам специалистов, небольшие предприятия с численностью до 100 сотрудников могут предоставлять материальную помощь по устной просьбе работника в день обращения. В таких организациях процесс может быть менее формализованным, и работодатели, как правило, более гибко подходят к запросам своих сотрудников. В крупных компаниях ситуация обстоит иначе: здесь каждая просьба рассматривается индивидуально в соответствии с установленными внутренними регламентами. Эти регламенты, как правило, четко определяют лимиты на выплаты, основания для их предоставления и необходимые документы, которые должен представить работник.
