extends ../../layouts/base-section/base-section

block variables
  - _cls = 'news'
  - _id = ''


block content
  include ../../components/title-block/title-block
  include ../../components/btn-row-block/btn-row-block

  +title-block({
    overtext: 'Оставайтесь в курсе последних событий',
    title: 'Новостной блог'
  })

