block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['./404-page-tpl']

include ../../pug/layouts/main-layout

main
  block content
    include ../../pug/sections/common/404-page/404-page

