.accordeon {
  @extend %flex-column;
  gap:16px;

  &-item {
    @extend %flex-column;

    border: 1px solid var(--light);

    svg {
      fill: var(--light);
    }

    &.expanded {
      .accordeon-content {
        opacity: 1;
        height: auto;
        padding: 16px 20px;
      }

      .accordeon-header {
        svg {
          transform: rotate(135deg);
        }
      }
    }
  }

  &-header {
    @extend %flex-align;
    justify-content: space-between;
    gap: 32px;
    padding: 16px 20px;
    cursor: pointer;
    @extend %main-hover;

    span {
      font-weight: 700;
    }
    svg {
      min-width: 24px;
      transition: transform var(--main-transition);
    }
  }

  &-content {
    @extend %flex-column;
    gap: 12px;

    opacity: 0;
    height: 0;
    padding: 0 20px;
    overflow: hidden;
    transition:
      opacity var(--main-transition),
      height var(--main-transition),
      padding var(--main-transition);

    & .content-block {
      gap: 8px;
    }

    & > * {
      margin: 0;
    }
  }


}
