// Общие стили для всего сайта
@import './_base/main';

*,
*::before,
*::after {
  @extend %scrollbar;
}


body {
  &.body-locked {
    overflow: hidden;
  }
}

footer {
  margin-top: auto;
}

a {
  text-decoration: none;
  color: var(--site-base-text-color);
}

a[href='tel:*'] {
  white-space: nowrap;
}

a,
button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.hidden {
  display: none !important;
}

picture {
  display: flex;
}

