- modalID = "consult-modal";
- modalClass = "consult-modal"

include ../../../layouts/modal-layout/modal
  block modalContent
    div consult modal компонент с формой и отдельными стилями consult modal компонент с формой и отдельными стилями consult modal компонент с формой и отдельными стилями
