block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['./stuff-preview-tpl']

include ../../pug/layouts/main-layout

main
  block content
    include ../../pug/sections/stuff/stuff-preview/stuff-preview

