.breadcrumb
  .container
    ul.breadcrumb__list
      li.breadcrumb__list-item
        a(href="#")
          span Главная
      li.breadcrumb__list-item
        a(href="#")
          span Наименование раздела
      li.breadcrumb__list-item
        span Страница раздела
