.main-slider {
  .swiper-slide {
    width: 400px;
    max-width: 75vw;
    height: auto;
  }

  .swiper-controls {
    @extend %flex-align;
    gap: 16px;
    justify-content: space-between;
    padding: clamp(25px, 3vw, 50px) 0 16px;
    margin: 5px;

    &:has(.swiper-button-lock) {
      display: none;
    }

    .swiper-pagination {
      position: static;
      transform: none !important;

      &-bullet {
        width: 8px;
        height: 8px;
        background-color: var(--dark);
      }
    }

    .swiper-navigation {
      @extend %flex-align;
      gap: 16px;

      .swiper-button-lock {
        display: none;
      }

      .swiper-button-disabled {
        opacity: .5;
      }

      .swiper-button-prev,
      .swiper-button-next {
        @extend %btn-reset;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--dark);
        background-color: var(--white);
        background-image: url("@/assets/svg/icon-slider-arrow.svg");
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: center;
      }

      .swiper-button-prev {
        transform: rotate(180deg);
      }
    }
  }
}
