include ../../cards/employee-card/employee-card
include ../../cards/news-preview-card/news-preview-card
include ../../cards/news-preview-card/news-preview-simple-card
include ../../cards/case-card/case-preview-card

mixin main-slider(slides)
  .swiper.main-slider
    .swiper-wrapper
      each slide in slides
        .swiper-slide
          if slide.type == 'employee-card'
            +employee-card(slide.data)
          else if slide.type == 'news-preview-card'
            +news-preview-card(slide.data)
          else if slide.type == 'news-preview-card-simple'
            +news-preview-simple-card(slide.data)
          else if slide.type == 'case-preview-card'
            +case-preview-card(slide.data)
          else
            != slide
    .swiper-controls
      .swiper-pagination
      .swiper-navigation
        button.swiper-button-prev
        button.swiper-button-next

