block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['./pagination-tpl']

include ../../pug/layouts/main-layout

main
  block content
    include ../../pug/components/_ui/pagination/pagination

