block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['./top_multilevel_menu-tpl']

include ../../pug/layouts/main-layout

main
  block content
    include ../../pug/components/_ui/nav/top-multilevel-menu/top-multilevel-menu
