.main-btn {
  @extend %btn-reset;
  padding: 16px clamp(20px, 3vw, 32px) 14px;
  font-size: clamp(16px, 3vw, 18px);
  font-weight: 700;
  width: fit-content;
  max-width: 320px;

  &:not(.main-btn--outlined) {
    background-color: var(--primary);
    border-color: var(--white);
    color: var(--white);
    @extend %main-btn-hover;
  }

  &--outlined {
    background-color: var(--white);
    border-color: var(--primary);
    color: var(--primary);

    @extend %main-btn-outlined-hover;
  }
}
