block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['./services-main-tpl']

include ../../pug/layouts/main-layout

main
  block content
    include ../../pug/sections/services/services-main/services-main

