extends ../../../layouts/base-section/base-section


block variables
  - _cls = 'about base-section--2col'
  - _id = ''


block content
  include ../../../components/title-block/title-block
  include ../../../components/btn-row-block/btn-row-block
  include ../../../components/_ui/lists/checked-list/checked-list

  .about__grid
    .about__grid-item
      +title-block({
        overtext: 'О нашей коллегии',
        title: 'О коллегии адвокатов “ЮСТИКОМ”'
      })
    .about__grid-item.content-block
      p.base-text
        | Коллегия адвокатов - это юридическая компания, объединяющая опытных и квалифицированных юристов, специализирующихся на различных областях права. Наша команда предоставляет широкий спектр юридических услуг для частных лиц и компаний, включая консультации, анализ документов, защиту интересов клиентов в суде и многое другое.<br><br>
        | Мы стремимся к высокому качеству услуг и индивидуальному подходу к каждому клиенту, чтобы помочь им решить юридические вопросы эффективно и в сжатые сроки. Наша коллегия адвокатов имеет успешный опыт работы с различными типами дел, что позволяет нам быть уверенными в своих знаниях и навыках.

      +checked-list([
        {
          text: 'Специализации адвокатов: семейное право, уголовное право, гражданское право, корпоративное право, налоговое право и другие.'
        },
        {
          text: 'Рейтинг и репутация: высокий профессионализм и эффективность в решении правовых вопросов.'
        },
        {
          text: 'Команда: коллектив опытных и квалифицированных адвокатов с высшим образованием и профильными сертификатами.'
        }
      ])

      +btn-row([
        {
          type: 'button',
          text: 'Заказать звонок',
          trigger: 'callback-modal'
        },
        {
          type: 'button',
          text: 'Получить консультацию',
          cls: 'main-btn--outlined',
          trigger: 'consult-modal'
        }
      ])


