include ../../detail-link/detail-link

mixin stuff-card(data)
  .stuff-card
    img(src=`./assets/img/${data.img.path}` alt= data.img.alt ? data.img.alt : data.name width="400" height="300")
    .stuff-card__content
      span.base-text.base-text--lg.stuff-card__content-title!= data.name
      span.base-text.stuff-card__content-subtitle!= data.role
      span.base-text.stuff-card__content-text!= data.text

    +detail-link({
      text: 'Подробнее'
    })
