extends ../../layouts/base-section/base-section

block variables
  - _cls = 'stuff'
  - _id = ''


block content
  include ../../components/title-block/title-block
  include ../../components/btn-row-block/btn-row-block

  +title-block({
    overtext: 'Наша коллегия адвокатов',
    title: 'Наши сотрудники'
  })
