extends ../../layouts/base-section/base-section

block variables
  - _cls = 'stuff'
  - _id = ''

block content
  include ../../components/title-block/title-block
  include ../../components/btn-row-block/btn-row-block

  include ../../components/_ui/sliders/main-slider/main-slider

  +title-block({
    overtext: 'Наша коллегия адвокатов',
    title: 'Наши сотрудники'
  })

  .base-section__content
    +main-slider(
      [
        {
          type: 'stuff-card',
          data: {
            img: {
              path: 'stuff-mock-1.png',
            },
            name: 'Иванова Ольга',
            role: 'Специалист в области семейного права, адвокат',
            text: `
              Стаж работы : 20 лет.<br>
              Более 1 000 выигранных дел в своей отрасли.`
          }
        },
        {
          type: 'stuff-card',
          data: {
            img: {
              path: 'stuff-mock-2.png',
            },
            name: 'Константинов Константин Константинович',
            role: 'Специалист в области семейного права, адвокат, cпециалист в области гражданского права',
            text: `
              Стаж работы : 20 лет.<br>
              Более 1 000 выигранных дел в своей отрасли.`
          }
        },
        {
          type: 'stuff-card',
          data: {
            img: {
              path: 'stuff-mock-1.png',
            },
            name: 'Мария Петрова',
            role: 'Юрист',
            text: `
              Стаж работы : 5 лет`
          }
        },
        {
          type: 'stuff-card',
          data: {
            img: {
              path: 'stuff-mock-1.png',
            },
            name: 'Иванова Ольга',
            role: 'Специалист в области семейного права, адвокат',
            text: `
              Стаж работы : 20 лет.<br>
              Более 1 000 выигранных дел в своей отрасли.`
          }
        },
        {
          type: 'stuff-card',
          data: {
            img: {
              path: 'stuff-mock-2.png',
            },
            name: 'Константинов Константин Константинович',
            role: 'Специалист в области семейного права, адвокат, cпециалист в области гражданского права',
            text: `
              Стаж работы : 20 лет.<br>
              Более 1 000 выигранных дел в своей отрасли.`
          }
        },
        {
          type: 'stuff-card',
          data: {
            img: {
              path: 'stuff-mock-1.png',
            },
            name: 'Мария Петрова',
            role: 'Юрист',
            text: `
              Стаж работы : 5 лет`
          }
        }
      ]
    )
