include ../../social/social

<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__list-item">
      <a href="#">
        <span>Услуги</span>
        <svg width="24" height="24" role="img" aria-hidden="true" focusable="false">
          <use xlink:href="./__spritemap__4886fdff#sprite-icon-chevron-down"></use>
        </svg>
      </a>
      <div class="top-multilevel-menu">
        <ul class="top-multilevel-menu__list">
          <li class="top-multilevel-menu__list-item">
            <a href="#">
              <img src="./assets/svg/feature-icon-3.svg" alt="icon" width="32" height="32">
              <span>Уголовное право</span>
              <svg width="24" height="24" role="img" aria-hidden="true" focusable="false">
                <use xlink:href="./__spritemap__4886fdff#sprite-icon-chevron-down"></use>
              </svg>
            </a>
            <div class="top-multilevel-menu__side" aria-hidden="true">
              <ul class="top-multilevel-menu__inner-list">
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Адвокат по взяткам</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Адвокат по наркотикам</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Адвокат по разбою</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Адвокат по изнасилованию</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Адвокат по грабежу</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Адвокат по убийству</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Адвокат по мошенничеству</span></li>
              </ul>
            </div>
          </li>
          <li class="top-multilevel-menu__list-item">
            <a href="#">
              <img src="./assets/svg/feature-icon-3.svg" alt="icon" width="32" height="32">
              <span>Гражданское право</span>
              <svg width="24" height="24" role="img" aria-hidden="true" focusable="false">
                <use xlink:href="./__spritemap__4886fdff#sprite-icon-chevron-down"></use>
              </svg>
            </a>
            <div class="top-multilevel-menu__side" aria-hidden="true">
              <ul class="top-multilevel-menu__inner-list">
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Возмещение ущерба при ДТП</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Возврат долга по расписке</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Защита прав добросовестного приобретателя</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Истребование имущества из чужого незаконного владения приобретателя</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Признание договоров недействительными и возврат имущества законным владельцам</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Юридическая защита прав потребителей в Москве</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Защита чести, достоинства и деловой репутации</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Взыскание ущерба, причиненного имуществу либо жизни или здоровью</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Признание безвестно отсутствующим и объявление умершим</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Признание недееспособным</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Признание права собственности на самовольную постройку</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Возмещение морального и материального ущерба после ДТП</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Составление гражданско-правовых договоров</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Договор подряда</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Расторжение договора в одностороннем порядке</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Расторжение договора по соглашению cторон</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Расторжение договора купли-продажи</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Расторжение договора аренды</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Расторжение договора</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Договор аренды нежилого помещения</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Договор об оказании услуг</span></li>
              </ul>
            </div>
          </li>
          <li class="top-multilevel-menu__list-item">
            <a href="#">
              <img src="./assets/svg/feature-icon-3.svg" alt="icon" width="32" height="32">
              <span>Семейное право</span>
              <svg width="24" height="24" role="img" aria-hidden="true" focusable="false">
                <use xlink:href="./__spritemap__4886fdff#sprite-icon-chevron-down"></use>
              </svg>
            </a>
            <div class="top-multilevel-menu__side" aria-hidden="true">
              <ul class="top-multilevel-menu__inner-list">
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Адвокат по правам ребенка</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Адвокат по усыновлению</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Запрет на выезд ребенка</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Установление отцовства</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Адвокат по алиментам на супруга</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Признание брака недействительным</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Адвокат по бракоразводным процессам</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Раздел имущества</span></li>
              </ul>
            </div>
          </li>
          <li class="top-multilevel-menu__list-item">
            <a href="#">
              <img src="./assets/svg/feature-icon-3.svg" alt="icon" width="32" height="32">
              <span>Налоговое право</span>
              <svg width="24" height="24" role="img" aria-hidden="true" focusable="false">
                <use xlink:href="./__spritemap__4886fdff#sprite-icon-chevron-down"></use>
              </svg>
            </a>
            <div class="top-multilevel-menu__side">
              <ul class="top-multilevel-menu__section-list">
                <li class="top-multilevel-menu__section-list-item">
                  <a href="#"><span>Оптимизация и аудит</span></a>
                  <ul class="top-multilevel-menu__inner-list">
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Выявление и минимизация имеющихся налоговых рисков</span></a></li>
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Оптимизация бизнеса с целью уменьшения налоговой нагрузки</span></a></li>
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Консультирование и подготовка правовых заключений</span></a></li>
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Введение мер, снижающих риск субсидиарной ответственности</span></a></li>
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Разработка договоров и внутренних документов</span></a></li>
                  </ul>
                </li>
                <li class="top-multilevel-menu__section-list-item">
                  <a href="#"><span>Защита при проверках</span></a>
                  <ul class="top-multilevel-menu__inner-list">
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Участие юристов по налоговым делам в проверочных мероприятиях со стороны клиента</span></a></li>
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Изучение ситуации и подготовка ответов на запросы налоговых органов</span></a></li>
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Консультирование налоговым юристом по возникающим вопросам при проверках</span></a></li>
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Выявление и обжалование нарушений должностных лиц</span></a></li>
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Подготовка и подача возражений на акт</span></a></li>
                  </ul>
                </li>
                <li class="top-multilevel-menu__section-list-item">
                  <a href="#"><span>Обжалование актов</span></a>
                  <ul class="top-multilevel-menu__inner-list">
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Административное обжалование решений налоговых органов</span></a></li>
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Оспаривание постановлений налоговых органов в арбитражном суде</span></a></li>
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Снижение ответственности и минимизация налоговых санкций</span></a></li>
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Взыскание убытков, причиненных незаконными действиями</span></a></li>
                    <li class="top-multilevel-menu__inner-list-item"><a href="#"><span>Обжалование решений в апелляционной и кассационной инстанций</span></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li class="top-multilevel-menu__list-item">
            <a href="#">
              <img src="./assets/svg/feature-icon-3.svg" alt="icon" width="32" height="32">
              <span>Банкротство</span>
              <svg width="24" height="24" role="img" aria-hidden="true" focusable="false">
                <use xlink:href="./__spritemap__4886fdff#sprite-icon-chevron-down"></use>
              </svg>
            </a>
            <div class="top-multilevel-menu__side" aria-hidden="true"></div>
          </li>
          <li class="top-multilevel-menu__list-item">
            <a href="#">
              <img src="./assets/svg/feature-icon-3.svg" alt="icon" width="32" height="32">
              <span>Правовое сопровождение инвестиционных проектов</span>
              <svg width="24" height="24" role="img" aria-hidden="true" focusable="false">
                <use xlink:href="./__spritemap__4886fdff#sprite-icon-chevron-down"></use>
              </svg>
            </a>
            <div class="top-multilevel-menu__side" aria-hidden="true"></div>
          </li>
          <li class="top-multilevel-menu__list-item">
            <a href="#">
              <img src="./assets/svg/feature-icon-3.svg" alt="icon" width="32" height="32">
              <span>IT-проекты</span>
              <svg width="24" height="24" role="img" aria-hidden="true" focusable="false">
                <use xlink:href="./__spritemap__4886fdff#sprite-icon-chevron-down"></use>
              </svg>
            </a>
            <div class="top-multilevel-menu__side" aria-hidden="true">
              <ul class="top-multilevel-menu__inner-list">
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Разработка правовой структуры проекта (Due dilligence)</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Разработка договоров для оформления отношений с&nbsp;разработчиками/контрагентами</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Разработка правовой позиции и&nbsp;оформление режима служебных произведений, в&nbsp;целях предупреждения рисков возникновения споров на&nbsp;результаты интеллектуальной деятельности</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Разработка необходимых оферт и&nbsp;пользовательских соглашений</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Установление режима конфиденциальности информации</span></li>
                <li class="top-multilevel-menu__inner-list-item"><a href="#"></a><span>Регистрация прав на&nbsp;результаты интеллектуальной деятельности</span></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="main-nav__list-item"><a href="#"><span>Практика</span></a></li>
    <li class="main-nav__list-item"><a href="#"><span>Команда</span></a></li>
    <li class="main-nav__list-item">
      <a href="#"><span>СМИ</span></a>
      //- тут будет main-nav__inner-list для одноуровнего выпадающего меню
    </li>
    <li class="main-nav__list-item"><a href="#"><span>Цены</span></a></li>
    <li class="main-nav__list-item"><a href="#"><span>Контакты</span></a></li>
  </ul>

  <div class="main-nav__footer">
    <div class="social">
      <ul class="social__list">
        <li class="social__list-item"><a href="#" rel="nofollow norefferer noopener" target="_blank" aria-label="Telegram"><img src="./assets/img/social-tg-white.svg" alt="Telegram" width="40" height="40"></a></li>
        <li class="social__list-item"><a href="#" rel="nofollow norefferer noopener" target="_blank" aria-label="Whatsapp"><img src="./assets/img/social-whatsapp-white.svg" alt="Whatsapp" width="40" height="40"></a></li>
      </ul>
    </div>

    <div class="contacts">
      <a class="top-multilevel-menu__phone" href="#">+7 (999) 999-99-99</a>
    </div>
  </div>
</nav>




