block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['./price_block-tpl']

include ../../pug/layouts/main-layout

main
  block content
    include ../../pug/components/price-block/price-block

