extends ../../../layouts/base-section/base-section

block variables
  - _cls = 'partners'
  - _id = ''


block content
  include ../../../components/title-block/title-block
  include ../../../components/_ui/sliders/infinity-slider/infinity-slider

  +title-block({
    overtext: 'Компании, с которыми мы сотрудничаем',
    title: 'Наши партнеры'
  })

  .base-section__content

    +infinity-slider([
      {
        img: 'partner-mock-1'
      },
      {
        img: 'partner-mock-2'
      },
      {
        img: 'partner-mock-1'
      },
      {
        img: 'partner-mock-2'
      },
      {
        img: 'partner-mock-1'
      },
      {
        img: 'partner-mock-2'
      },
      {
        img: 'partner-mock-1'
      },
      {
        img: 'partner-mock-1'
      },
      {
        img: 'partner-mock-2'
      },
      {
        img: 'partner-mock-1'
      },
      {
        img: 'partner-mock-2'
      },
      {
        img: 'partner-mock-1'
      },
      {
        img: 'partner-mock-2'
      },
      {
        img: 'partner-mock-1'
      }
    ])




