extends ../../../layouts/base-section/base-section

block variables
  - _cls = ''
  - _id = ''


block content
  include ../../../components/title-block/title-block
  include ../../../components/catalog-section-list/catalog-section-list

  +title-block({
    overtext: 'Наша коллегия адвокатов',
    title: 'Наша команда'
  })

  +catalog-section-list('stuff',[1,2,3,4,5,6,7,8])
