block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['./licenses-tpl']

include ../../pug/layouts/main-layout

main
  block content
    include ../../pug/sections/index/licenses/licenses

