.employee-detail {
  padding: 0;

  &__header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: var(--main-offset);

    @include container-down('base-section', $tablet-lg-width) {
      grid-template-columns: 1fr;
    }

    & > img {
      width: 100%;
      height: auto;
      max-width: 652px;
      object-fit: cover;
      object-position: top;
      aspect-ratio: 4 / 3;
      position: sticky;
      top: calc(var(--main-offset) * 2);

      @include container-down('base-section', $tablet-lg-width) {
        position: static;
        top: 0;
      }
    }

    &-content {
      @extend %flex-column;
      gap: 10px;
    }
  }

  &__description {
    @extend %flex-column;
    gap: 20px 0;

    span {
      line-height: 1.5;
    }
  }
  &__btn {
    margin-top: auto;
  }
  &__contacts {
    @extend %flex-wrap;
    gap: 10px мar(--main-offset);
    margin: 10px 0;

    &-item {
      position: relative;
      @extend %flex-column;
      justify-content: center;
      width: fit-content;
      min-height: 50px;
      gap: 4px;
      padding-left: 46px;

      svg {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        fill: var(--primary);
      }

      @extend %primary-color-hover;
    }
  }
  &__service-list {
    @extend %list-reset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px var(--main-offset);
    max-width: 1140px;

    @include container-down('base-section', $laptop-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include container-down('base-section', 660px) {
      grid-template-columns: 1fr;
    }

    li {
      a {
        @extend %flex-align;
        height: 100%;
        gap: 16px;

        @extend %primary-color-hover;
      }
    }
  }
}
