mixin feature-card(data)
  .feature-card
    img(src=`./assets/svg/${data.icon}.svg` alt= data.title width="60" height="60")
    span.base-text.base-text--lg!= data.title
    span.base-text.base-text--muted!= data.text
