block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['./cases-main-tpl']

include ../../pug/layouts/main-layout

main
  block content
    include ../../pug/sections/cases/cases-main/cases-main

