.content-block
  h1 CONTENT-BLOCK H1
  h2 CONTENT-BLOCK H2
  h3 CONTENT-BLOCK H3
  h4 CONTENT-BLOCK H4
  h5 CONTENT-BLOCK H5
  h6 CONTENT-BLOCK H6

  p PARAGRAPH[p]
  p Текст с <a href="#">ссылкой</a>
  strong STRONG[strong]
  a(href="#") link

  blockquote
    strong strong
    span span text
    p paragraph text

  ul
    li list-item
    li list-item
    li list-item
    li list-item

  ul.checked-list
    li list-item
    li list-item
    li list-item
    li list-item
