block variables
  -
    const title = "Контакты"
    const description = ""
    const keywords = ""
    const styles = ['contacts']

include ./pug/layouts/main-layout

main
  block content
    include ./pug/sections/contacts/contacts
