extends ./pug/layouts/main-layout

block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['./styles/template','./styles/documents-main']

block content
  include ./pug/sections/documents/documents-main/documents-main
  include ./pug/sections/common/callback/callback
  include ./pug/sections/common/contacts/contacts
