block variables
  -
    const title = "site-builder-template@1.0.0"
    const description = ""
    const keywords = ""
    const styles = ['main-page']

include ./pug/layouts/main-layout

main
  block content
    p index page


