block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['main-page']

include ./pug/layouts/main-layout

main
  block content
    p index page


