block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['index']

include ./pug/layouts/main-layout

include ./pug/layouts/main-header/main-header

main
  block content
    include ./pug/sections/hero/hero
    include ./pug/sections/about/about
    include ./pug/sections/features/features
    include ./pug/sections/stuff/stuff
    include ./pug/sections/cases/cases
    include ./pug/sections/lawyer/lawyer
    include ./pug/sections/partners/partners
    include ./pug/sections/callback/callback
    include ./pug/sections/licenses/licenses
    include ./pug/sections/news/news
    include ./pug/sections/contacts/contacts

include ./pug/layouts/main-footer/main-footer

script(async="true" src="https://api-maps.yandex.ru/2.1/?apikey=e16eca43-c079-4eee-bcdb-fc2063125604&lang=ru_RU")
