block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['./styles/template','./styles/index']

include ./pug/layouts/main-layout

//- include ./pug/layouts/main-header/main-header

main

  block content
    include ./pug/sections/index/hero/hero
    include ./pug/sections/index/about/about
    include ./pug/sections/index/features/features
    include ./pug/sections/stuff/stuff-preview/stuff-preview
    include ./pug/sections/cases/cases-preview/cases-preview
    include ./pug/sections/lawyer/lawyer-preview/lawyer-preview
    include ./pug/sections/index/partners/partners
    include ./pug/sections/common/callback/callback
    include ./pug/sections/index/licenses/licenses
    include ./pug/sections/news/news-preview/news-preview
    include ./pug/sections/common/contacts/contacts

include ./pug/layouts/main-footer/main-footer

script(async="true" src="https://api-maps.yandex.ru/2.1/?apikey=e16eca43-c079-4eee-bcdb-fc2063125604&lang=ru_RU")
