block variables
  -
    const title = "site-builder-template@1.0.0"
    const description = ""
    const keywords = ""
    const styles = ['inner']

include ./pug/layouts/main-layout

main
  block content
    p inner-page


