block variables
  -
    const title = "Коллегия адвокатов Юстиком"
    const description = ""
    const keywords = ""
    const styles = ['./styles/template']

include ./pug/layouts/main-layout

include ./pug/layouts/main-header/main-header

main
  block content
    .template-block
      .container(style="display:flex;flex-direction:column;gap:20px;")
        h1 template-classes
        p.base-title base-title
        p.base-text base-text
        p.base-text.base-text--lg base-text--lg
        p.base-text.base-text--lined base-text--lined


    .content-block
      .container(style="display:flex;flex-direction:column;gap:20px;")
        h1 CONTENT-BLOCK STYLES
        p PARAGRAPH[p]
        strong STRONG[strong]

include ./pug/layouts/main-footer/main-footer


