include ../_ui/main-btn/main-btn
include ../_ui/main-btn/main-link

mixin btn-row(data)
  .btn-row
    each item in data
      if item.type == "button"
        +main-btn(item)
      if item.type == "link"
        +main-link(item)
      if item.type == "social"
        a(href!= item.href aria-label!= item.label).main-btn.main-btn--outlined.main-btn--fit.main-btn--iconed
          svg(width='40' height='40' role='img' aria-hidden='true' focusable='false')
            use(xlink:href=`./__spritemap#sprite-${item.icon}`)
