include ../_ui/main-btn/main-btn
include ../_ui/main-btn/main-link

mixin btn-row(data)
  .btn-row
    each item in data
      if item.type == "button"
        +main-btn(item)
      if item.type == "link"
        +main-link(item)
