extends ../../layouts/base-section/base-section

block variables
  - _cls = 'features'
  - _id = ''


block content
  include ../../components/title-block/title-block
  include ../../components/btn-row-block/btn-row-block
  include ../../components/_ui/cards/feature-card/feature-card

  +title-block({
    overtext: 'Преимущества работы с нами',
    title: 'Наши преимущества'
  })

  .base-section__content
    .features__grid
      .features__grid-item
        +feature-card({
          icon: 'feature-icon-1',
          title: 'Личный закон',
          text: 'Я - воплощение зловещего достоинства, но дзен дает советы нашему времени.'
        })
      .features__grid-item
        +feature-card({
          icon: 'feature-icon-1',
          title: 'Семейное право',
          text: ''
        })
      .features__grid-item
        +feature-card({
          icon: 'feature-icon-2',
          title: 'Коммерческое право',
          text: 'Я - воплощение зловещего достоинства, но дзенские советы нашего времениЯ - воплощение зловещего достоинства, но дзенские советы нашего времениЯ - воплощение зловещего достоинства, нодзенские '
        })
      .features__grid-item
        +feature-card({
          icon: 'feature-icon-2',
          title: 'Личный закон',
          text: 'Я - воплощение зловещего достоинства, но дзен дает советы нашему времени.'
        })
      .features__grid-item
        +feature-card({
          icon: 'feature-icon-3',
          title: 'Семейное право',
          text: ''
        })
      .features__grid-item
        +feature-card({
          icon: 'feature-icon-1',
          title: 'Коммерческое право',
          text: 'Я - воплощение зловещего достоинства'
        })

