mixin title-block(data)
  .title-block
    if data.overtext
      #{data.overtextTag ? data.overtextTag : 'span'}.base-text.base-text--lined!= data.overtext
    #{data.titleTag ? data.titleTag : 'h2'}.base-title!= data.title
