%scrollbar {
  &::-webkit-scrollbar {
    background-color: var(--scrollbar-color);
    width: var(--scrollbar-width);
    border-radius: var(--scrollbar-border-radius);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: var(--scrollbar-thumb-border-radius);
  }
}

%label {
  font-size: clamp(16px, 2.2vw, 18px);
  font-weight: 700;
  color: var(--dark);
  cursor: pointer;
}
